
<ion-header>
<ion-navbar>
  <ion-toolbar>
    <ion-title>
      Atualizar Roupa
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
      <button ion-button back-button (click)="dismiss()"> </button>
        
    </ion-buttons>
  </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content>

   <form (ngSubmit)="update()">
    <ion-item>
      <ion-label> Parte da Roupa </ion-label>
      <ion-select name="parte" [(ngModel)]="roupa.parte">
        <ion-option *ngFor="let parte of partesRoupa" value="{{parte.nome}}">{{parte.nome}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label> Categoria </ion-label>
      <ion-select name="categoria" [(ngModel)]="roupa.categoria">
        <ion-option *ngFor="let categoria of categoriasRoupa" value="{{categoria.nome}}">{{categoria.nome}}</ion-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-input  [(ngModel)]="roupa.descricao" name="descricao" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label> Está no cesto de roupa suja?</ion-label>
        <ion-toggle [(ngModel)]="roupa.statusCesto" name="statusCesto" color="primary"></ion-toggle>
    </ion-item>
    <ion-item (click)="takePicture()">
      <ion-label>Tirar foto da roupa </ion-label>
      <ion-icon name="ios-camera-outline"  item-right>
      </ion-icon>
    </ion-item>
    <ion-item> 
     <ion-card>
      <img [(ngModel)]="roupa.imgRoupa" src="{{roupa.imgRoupa}}" *ngIf="roupa.imgRoupa" width="150px" height="150px" name="foto" />
     </ion-card>
    </ion-item>
      <button ion-button block type="submit" >Atualizar</button>
  </form>
</ion-content>
