<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>O que Vestir?</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="options">
        <ion-segment-button value="optionsList">
          Opções
        </ion-segment-button>
        <ion-segment-button value="optionsGenerate">
          Gerar Opções
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding class="cards-bg social-cards">
  <div [ngSwitch]="options">
    <ion-list *ngSwitchCase="'optionsList'">
      <ion-card *ngFor="let opcao of opcoes">
        <ion-item *ngFor="let roupa of opcao.roupas">
              <ion-avatar item-left>
                   <img src="{{roupa?.imgRoupa}}">
              </ion-avatar>
                {{roupa?.descricao}}
              <ion-note item-right>
                <ion-badge color="{{roupa?.color_status}}">
                  {{roupa?.statusCestoDescription}}
                </ion-badge>
              </ion-note>
        </ion-item>
          <ion-row>
            <ion-col col-4>
              <button ion-button clear disabled="{{opcao.status}}" (click)="useConfirm(opcao.id)">
                <ion-icon name="log-in"></ion-icon>
                {{opcao.uso}}
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button clear disabled="{{opcao.return}}" (click)="returnConfirm(opcao.id)">
                <ion-icon name="return-left"></ion-icon>
                Devolver
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button clear (click)="removeConfirm(opcao.id)">
                <ion-icon name="ios-remove-circle-outline"></ion-icon>
                Excluir
              </button>
            </ion-col>
          </ion-row>
      </ion-card>  
    </ion-list>

    <ion-list *ngSwitchCase="'optionsGenerate'">
      <ion-item>
        <ion-thumbnail item-start>
            <ion-icon name="boat"></ion-icon>
        </ion-thumbnail>
        <h2>Barcoooo 2222222</h2>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab bottom right>
    <button ion-fab mini (click)="Opcao()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  
</ion-content>
